// #smMainWrapper .sm__lifecycle-outer {
//     width: 88%;
//     margin: 5% auto;
//     position: relative;
//     background: url(https://sites.ey.com/sites/SC_SmartMaps/SiteAssets/smartmaps-site/assets/img/new-line.png) no-repeat 0 0;
//     background-size: 100%;
// }

// @media screen and (min-width: 61.25em){
// #smMainWrapper .sm__lifecycle-bubble--intro {
//     width: 15.5%;
//     padding-top: 0;
//     margin-left: 1.5%;
// }
// }
// @media  screen and (min-width: 61.25em) {
// #smMainWrapper .sm__lifecycle-bubble--go-to {
//     width: 20%;
//     margin-left: 8%;
//     padding-top: 0;
// }
// }

// @media (min-width: 61.25em){
// #smMainWrapper .sm__lifecycle-bubble--training {
//     margin-top: -46%;
//     width: 15.5%;
//     margin-top: -40%;
//     margin-left: 27.6%;
// }
// }

// @media (min-width: 61.25em){
// #smMainWrapper .sm__lifecycle-bubble--run-project {
//     width: 26%;
//     margin-top: -21%;
//     margin-left: 45.5%;
// }
// }

// @media (min-width: 61.25em){
//     #smMainWrapper .sm__lifecycle-bubble--admin {
//         width: 15.3%;
//         margin-top: 1.7%;
//         margin-left: 83%;
//     }
// }

// @media (min-width: 61.25em){
// #smMainWrapper .sm__lifecycle-bubble--projects {
//     margin-top: -41%;
//     width: 21%;
//     margin-top: -42%;
//     margin-left: 73.5%;
// }
// }


// BREAK POINTS
$mobilePortrait: 320px;
$mobileLandscape: 480px;
$smallTablet: 640px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1280px;
$wideDesktop: 1440px;
$extraWideDesktop: 1920px; 
 
