<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="be-new__home-main-container content-fluid" ng-controller="homeCtrl">
          <div class="be-new__home-header-row row">
                <div class="be-new__home-header-div col-8">
                    <div class="be-new__home-header-content-heading">
                        <h1>better engagements</h1>
                    </div>
                    <div class="be-new__home-header-content">
                        <p class="be-new__home-content-para">Run by you, Powered by Mercury</p> 
                    </div>
                </div>
                <div class="be-new__home-header-content-image col-4">
                    <img src="" alt="">
                </div>
          </div>
          <div class="be-new__home-intro-row row mt-3">
              <div class="be-new__home-intro-left col-12 col-md-8">
                  <div class="mkp__list-wrapper be__new-homepage-wrapper">
                        <h1 class="be-new__home-header-1">
                                Welcome,  {{ dataObj.title }}
                            </h1>
                            <p class="be-new__home-intro-para">
                                  Our updated portal now offers easy and quick “self-service” ​How Tos for all routine tasks in Mercury - 
                                  see the <span class="font-weight-bolder">Task Support</span> tab above, or click any relevant Engagement Lifecycle tile, below right. For 
                                  training and educational support, see <span class="font-weight-bolder">My Learning</span>.                        
                            </p>
                  </div>
              </div>
              <div class="be-new__home-intro-right col-12 col-md-4">
                <div class="mkp__list-wrapper be-new__home-virtual-clinic">
                    <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/svg/contents-page/training-icon.svg" alt=""> Virtual clinic schedule</h2>
                    <ul class="mkp__triangle-bullet-points">
                        <li><a href="#">View latest timetable</a></li>
                    </ul>
                </div> 
              </div>   
          </div>
          <div class="be-new__home-middle-row row d-flex">
              <div class="be-new__home-middle-row-left-content col-12 col-md-4">
                <div class="be-new__home-big-switch mkp__list-wrapper">
                  <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/homepage/group-7.png" alt=""> The Big Switch</h2>  
                  <ul class="mkp__triangle-bullet-points">
                      <li><a href="/SitePages/index.aspx/blackout-templates">Which Template?</a></li>
                      <li><a href="/SitePages/index.aspx/MyNetwork">Change network</a></li>
                      <li><a href="">Little book of Better Engagements</a></li>
                      <li><a href="#">Global Moving to Mercury resources</a></li>
                      <li><a href="#">Glossary and FAQs</a></li>
                  </ul>
                </div>
                <div class="be-new__home-my-learning mkp__list-wrapper">
                  <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/svg/group-9.svg" alt=""> My Learning</h2>          
                  <ul class="mkp__triangle-bullet-points">
                      <li><a href="#">Work-Based Learning</a></li>
                      <li><a href="#">Virtual clinics this week</a></li>
                      <li><a href="#">Global step-through videos</a></li>
                      <li><a href="#">The Little Book of Better Engagements</a></li>
                  </ul>
                </div>  
              </div>
              <div class="be-new__home-middle-row-right-content col-12 col-md-8">
                <div class="mkp__list-wrapper be__new-homepage-wrapper">
                    <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/homepage/group-6-copy.png" alt=""> How to - Mercury Tasks</h2>
                    <img src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/homepage/BE-Landing-Page-Tiles.png" alt="" class="img-fluid be-new_home-task-img">          
                </div>  
              </div>
          </div>
          <div class="be-new__home-blog-row row">
                <div class="be-new__home-blog-content col-12 col-md-4">
                    <div class="mkp__list-wrapper be__blog-wrapper">
                        <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/homepage/group-9-1.png" alt=""> …As is blog element…</h2>
                        <ul class="mkp__triangle-bullet-points ">
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                        </ul>
                    </div>
                </div>
                <div class="be-new__home-blog-content col-12 col-md-4">
                    <div class="mkp__list-wrapper be__blog-wrapper">
                        <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/homepage/group-9-1.png" alt=""> …As is blog element…</h2>
                        <ul class="mkp__triangle-bullet-points ">
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                        </ul>
                    </div>
                </div>
                <div class="be-new__home-blog-content col-12 col-md-4">
                    <div class="mkp__list-wrapper be__blog-wrapper">
                        <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/SiteAssets/v2/assets/img/homepage/group-9-1.png" alt=""> …As is blog element…</h2>
                        <ul class="mkp__triangle-bullet-points ">
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                                <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                        </ul>
                    </div>
                </div>    
          </div>
      </div>    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>