<div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          
          
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H07490_RF.jpg" alt="First slide">
             <!--<div class="carousel-caption d-none d-md-block">
              <h2><a>The big switch to Mercury</a></h2>
            </div>-->
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H08544_RF.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h2><a href="urlSite/SitePages/index.aspx#!/blackout-templates" target="_blank">Click here for blackout templates and FAQs</a></h2>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H06854_RF.jpg" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
              <h2><a href="urlSite/SitePages/Index.aspx#!/CoExistence" target="_blank">Click here for coexistence information</a></h2>
            </div>
          </div>
            
           <div class="carousel-item">
            <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H08489_RF.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h2><a href="urlSite/SitePages/index.aspx#!/actions-to-take" target="_blank">Click here for Actions To Take </a></h2>
            </div>
          </div>
          
        </div>
        <div class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
        <div class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </div>
       <!--<section class="hero__section" style="background-image: url(urlSite/SiteAssets/Images/BigSwitchAssets/14H07490_RF.jpg);background-position: 0 0;">
           <div class="container-fluid h-100" style="position: relative;">
               <div class="col-md-12" style="position: absolute;bottom: 20px;left:0px;">
                   
               </div>
           </div>
       </section>-->
      <div class="container-fluid " style="">
                 <div class="col-md-12 mt-5" style="background-color: rgba(0, 0, 0, .5);">
                     <h2 style="color: #fff;padding: 15px;">The big switch to Mercury</h2>
                 </div>
             </div>
          <div class="container-fluid mt-3 py-5" style="background: #fff;">
              <div class="container">
                <div class="row z-index-1">
                  <div class="col-md-10 col-sm-10 mb-3">
                    <h3 class="mb-4" style="color:#000">What is the big switch to Mercury?</h3>
                      <p>The big switch to Mercury is the critical period of time when we decommission our current applications and transfer data into Mercury, EY’s new global enterprise solution. The big switch to Mercury commenced 6 September and lasts until Mercury go-live on 14 October. It impacts all people in the UK and Ireland.  </p>
                      <p>To prepare for Mercury, important information will be sent to you over the coming weeks, which will explain the actions you must take. This will be done via weekly emails and will be highlighted on this website, as and when they become relevant. Remember to regularly return to this portal to ensure you are up-to-date with these actions and familiar with application blackout dates.</p>
                      
                     
                  </div>
      
                  <div class="supportInfoDiv p-3 col-md-2 col-sm-2 mb-3">
                    <h6 class="font-weight-bold">Quick Links</h6>
                    <div class="infoDivContent d-inline-flex">
                        
                      <ul>
                          <li><a href="urlSite/SitePages/index.aspx#!/actions-to-take">Actions to Take</a></li>
                          <li><a href="urlSite/SitePages/index.aspx#!/blackout-templates">Blackout Templates and FAQs</a></li>
                          <li><a href="urlSite/SitePages/Index.aspx#!/CoExistence">Coexistence</a></li>
                      </ul>
                    </div>
                  
                  </div>
                </div>  
              

          
                  <div class="row z-index-1">
                    <div class="col-md-12 col-sm-12 mb-3">
                      
                        <h3 class="mb-4" style="color:#000">What is blackout?</h3>
                        <p>From <strong>8pm on 6 September until go-live on 14 October</strong>, there is a phased application “blackout”. During this time, current applications (e.g. GFIS, InterAction, gT&E) are decommissioned and data is transferred into Mercury. Once this process begins, access to these applications will be either removed or restricted to read-only.</p>
                        
                        <p>To view the full list of impacted applications and blackout dates, see the timeline below. 
                        </p>
                        <br>
                        <img src="urlSite/SiteAssets/Images/BigSwitchAssets/blackout-info.png" alt="" class="img-fluid">
                        <br>
                        <br>
                        <h3 class="mb-4" style="color:#000">What are blackout procedures and offline templates?</h3>
                        <p>During blackout, you are required to follow interim blackout procedures and use offline templates. This is to ensure that the business can continue to operate and that critical information is retained. Blackout impacts everyone, and you must use offline templates to record your data so that you can key it into Mercury once live. </p>
                        
                        <p>The blackout interim procedures and offline templates are available <a href="urlSite/SitePages/index.aspx#!/blackout-templates">here</a>. During blackout, your offline templates should be stored in a safe place, as defined by your Service Line.  </p>
                        <p>After Mercury go-live on 14 October, you will need to key the information captured in the offline templates into Mercury yourself. It is important to note that while Mercury will go-live on 14 October, you will be able to enter your time into Mercury starting from 7 October.</p>
                        <br>
                        <h3 class="mb-4" style="color:#000">Your responsibilities during the big switch to Mercury</h3>
                        <p>Regardless of your role, you will need to participate in these preparation activities for blackout and Mercury go-live.<br>
                            <ol>
                                <li>Read the weekly big switch to Mercury emails to learn what actions you need to take</li>
                                <li>Review the blackout timeline above and identify which applications undergoing blackout will have an impact on you</li>
                                <li>Check this website regularly for updates and information during the big switch to Mercury</li>
                            </ol>
                        </p>
                    </div>
        
                    <!--<div class="supportInfoDiv p-3 col-md-2 col-sm-2 mb-3">
                      <h6 class="font-weight-bold">Quick Links</h6>
                      <div class="infoDivContent d-inline-flex">
                          
                        <ul>
                            <li><a href="urlSite/SitePages/index.aspx#!/actions-to-take">Actions to Take</a></li>
                            <li><a href="urlSite/SitePages/index.aspx#!/blackout-templates">Blackout Templates and FAQs</a></li>
                        </ul>
                      </div>-->
                    
                    </div>
                  </div>  
                </div>
            </div>
            
      
          <div class="container-fluid py-5" style="background: #999;">
              <div class="container pt-4 pb-4">
                  <div class=" row z-index-1">
                      <div class="col-md-12 col-sm-12 mb-3 mt-3">
                          <h3 class="mb-3 mt-3" style="color: #fff;">What is the big switch to Mercury?</h3>
                          <div class="row mt-3 w-100">
                             <div class="col-md-12">
                                  <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" src="https://bcove.video/2N3dnjf"  allowfullscreen=""></iframe>
                                  </div>
                             </div>
                          </div>   
                      </div>
                  </div>
              </div>
          </div>    
          <div class="container-fluid py-5" style="background: #fff;">
              <div class="container pt-4 pb-4">
                  <div class=" row z-index-1">
                      <div class="col-md-12 col-sm-12 mb-3 mt-3">
                          <h3 class="mb-3 mt-3" style="color: #000;">The big switch FAQs</h3>
                          
                         <div class="panel-group" id="collapse-panel02">
      
                               <div class="panel panel-primary">
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse1" class="collapsed" aria-expanded="false">
                                                  What is Cutover? 
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse1" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>Cutover is the project name for the big switch. It includes the planning process and final execution of data or application conversions into Mercury. The process is designed to minimise any disruption caused by the  implementation and/or by new business processes while data is being migrated. 
                                                It focuses on making sure: 
                                                 <br>
                                                <ol>
                                                    <li>The entire solution is ready for transition to new ways of working </li>
                                                    <li>Information is converted correctly to the new system, and </li>
                                                    <li>The transition is managed effectively through go-live and post go-live. </li>
                                                </ol>
      
                                               </p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse2" class="collapsed" aria-expanded="false">
                                                  What happens during Cutover? 
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>During Cutover, data from current applications is captured and loaded into Mercury. For this to happen, there will be an application freeze or blackout period. Depending on the amount of data, it could take up to several weeks before data is completely loaded. During this time a manual procedure may be needed to capture new data or account for changes to the data during the Cutover time frame. </p>
                                           </div>
                                       </div>
      
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse3" class="collapsed" aria-expanded="false">
                                                  What is data conversion? 
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>Data conversion is the process that includes the extraction of data from the current application and transforming and loading it into the new Mercury solution.</p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse4" class="collapsed" aria-expanded="false">
                                                  Why are there multiple blackout dates?
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse4" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>EY’s existing applications (such as GFIS and gT&E) will be taken offline over a period of four weeks. Each application has its own blackout window, relating to the respective complexity and volume of the data required to be transferred to Mercury.</p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse20" class="collapsed" aria-expanded="false">
                                                  What are blackout procedures and templates and where can I find them?
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse20" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>Blackout procedures are the interim procedures that will enable you to complete your Business-As-Usual (‘BAU’) activities during the period when legacy applications are unavailable. These procedures should be followed, as instructed, until Mercury goes live on 14 October.
                                              <br>
                                              Procedures and templates are available <a href="urlSite/SitePages/index.aspx#!/blackout-templates">here.</a> 
                                              </p>
                                           </div>
                                       </div>
                                      <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse5" class="collapsed" aria-expanded="false">
                                                  Where should offline templates be stored?
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse5" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>Offline templates should be stored in a safe and accessible place, as defined by your Service Line.  
                                              </p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse6" class="collapsed" aria-expanded="false">
                                                  What do I need to do with my offline templates after blackout? 
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                               <p>The Mercury go-live on 14 October will conclude the blackout period. This will enable ‘BAU’ activities to be performed in Mercury. You will need to re-key your offline template data into Mercury in a timely manner.  
                                              </p>
                                              <p>Beginning 7 October, you are required to enter 2 timesheets: <br>
                                                <ul>
                                                    <li>gT&E blackout week: 30 Sep – 6 Oct </li>
                                                    <li>Mercury go-live week (for time only): 7 - 13 Oct </li>
                                                </ul>
                                              </p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse7" class="collapsed" aria-expanded="false">
                                                  How will I know what actions to take during the big switch Mercury?
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse7" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                              <p>The actions you need to take during the big switch to Mercury will be communicated to you in two ways:  
                                              <br>
                                                <ol>
                                                    <li>You will receive weekly big switch to Mercury emails detailing the most relevant updates, and emphasising the critical actions required of you.</li>
                                                    <li>You will be able to find a complete list of the actions that you need to take <a href="urlSite/SitePages/index.aspx#!/actions-to-take">here</a> as and when they become relevant</li>
                                                </ol>
                                              </p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse8" class="collapsed" aria-expanded="false">
                                                  What training do I need to take during the big switch to Mercury?
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse8" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                              <p>The training required to prepare yourself for the big switch to Mercury is available on the <a href="urlSite/SitePages/Index.aspx#!/MyLearning" target="_blank">My Learning</a> page. 
                                              </p>
                                           </div>
                                       </div>
                                       <div class="panel-heading">
                                           <h6 class="panel-title">
                                               <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse9" class="collapsed" aria-expanded="false">
                                                  Who should I contact if I have questions?
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapse9" class="panel-collapse collapse" aria-expanded="false">
                                           <div class="panel-body" >
                                              <p>Your first step should always be to explore the Better Engagements Portal, which has key information and FAQs for all systems and impacted processes.<br>
                                              For further questions, please contact EY Help on Ext 65555.
                                              </p>
                                           </div>
                                       </div>
                               </div>                          
                           </div>
      
                     </div>
                 </div>
             </div>
          </div>​
      