<div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H08544_RF.jpg" alt="First slide">
       <div class="carousel-caption d-none d-md-block">
        <h2><a href="https://sites.ey.com/sites/csglondontest/test-be-portal/SitePages/index.aspx#!/CoExistence" target="_blank">Coexistence</a></h2>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H08489_RF.jpg" alt="Second slide">
      <!--<div class="carousel-caption d-none d-md-block">
        <h2>Cutover templates</h2>
      </div>-->
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="urlSite/SiteAssets/Images/BigSwitchAssets/14H08502_RF.jpg" alt="Third slide">
      <!--<div class="carousel-caption d-none d-md-block">
        <h2>My actions</h2>
      </div>-->
    </div>
  </div>
  <div class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </div>
  <div class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </div>
</div>
    <div class="container-fluid mt-3 py-5" style="background: #fff;">
        <div class="container">
          <div class="row z-index-1">
            <div class="col-md-10 col-sm-10 mb-3">
              <h3 class="mb-4" style="color:#000">What is the Big Switch to Mercury? </h3>
                <p>The big switch to Mercury represents an important part of deploying Mercury and it will impact everyone in UK&I. 
                      During the big switch, we are migrating business processes and converting data from the systems we currently use to Mercury. 
                      We will also experience a blackout when some of our systems will not be available. This is essential in order for the UK&I to move to Mercury and to have access to current
                       data and information, so regular business activities can resume in Mercury after go-live on 14 October (early time entry in Mercury begins on 7 October).    
                    <br><br>Blackout begins on <strong>14 September until go-live on 14 October.</strong> You can view the full list of system blackout dates here (insert link).
                    <br><br>The business will continue to operate during the big switch to Mercury. But in some cases, we will be reliant on offline templates for you to continue your 
                    business-as-usual (‘BAU’) activities.     
                  </p>
                <h3 class="mb-4" style="color:#000">What is your responsibility during the big switch to Mercury?</h3>
                <p>Regardless of your role, you will need to participate in a number of preparation activities for blackout and go-live.<br>
                    <ul>
                        <li>Read the Mercury updates email from the big switch mailbox</li>
                        <li>Review the blackout timeline (link) and identify the impacts on you</li>
                        <li>Prepare your deliverables for blackout</li>
                        <li>Understand how to work during blackout - what will/won’t you be able to do</li>
                        <li>If you are working on cross-border engagements, find out more on what you need to do on the co-existence 
                            page <a href="https://sites.ey.com/sites/moving2mercury/SitePages/Community Home.aspx">here</a></li>
                    </ul>
                </p>
            </div>

            <!--<div class="supportInfoDiv p-3 col-md-2 col-sm-2 mb-3">
              <h6 class="font-weight-bold">Communications Archive</h6>
              <div class="infoDivContent d-inline-flex">
                  <p style="color: crimson">Coming soon</p>
                <<ul>
                    <li>Placeholder</li>
                    <li>Placeholder</li>
                </ul>
              </div>
            
            </div>-->
          </div>  
        <!--<div class="col-md-8 col-sm-8 mb-3" style="padding-left:0px">
            <h3 class="mb-4" style="color:#000">Who is impacted?</h3>
            <p>Coexistence will not impact everyone. It only applies to those teams working across borders where one team has deployed to Mercury and the other is still working in current systems and applications. Coexistence will have no impact on most of our client teams (or those people in functions who support these teams) as most of our client teams do not work on cross-border engagements.  
                <br><br>While Mercury has implemented technology to help minimize manual activities during Coexistence, some changes to how we currently work together across borders will be required for those impacted.  </a>
                <br><br>The following groups may be impacted: 
                <br><ul>
                    <li><strong>Client serving teams:</strong> Those client servers working on cross-border engagements and accounts involving both Mercury-deployed and non-Mercury-deployed countries, or those accounts in non-deployed countries with significant outbound revenues in Mercury-deployed countries, will need to be aware of how to work through the client engagement lifecycle.  </li>
                    <li><strong>Global functions/service lines:</strong> For some global functions and service lines, where people are based in different geographies, Coexistence activities may be required when part of a global function/service line is working in Mercury and another part of the function/service line is working with current systems and applications. If you are impacted, you will hear about any Coexistence requirements from your function/service line. </li>
                    <li><strong>Support teams:</strong> People in teams who support Mercury users will need to be aware of Coexistence activities to continue to provide appropriate guidance and support.  </li>
                    
                  </ul>  
            <p>Coexistence processes and workarounds will help current system users and Mercury users to continue to work together effectively until everyone at EY is working in Mercury. Being aware of how to coexist is important, as it enables business continuity during this transition period. 
                <br><br>More information about Coexistence is available on <a href="https://sites.ey.com/sites/moving2mercury/SitePages/Community%20Home.aspx">Moving to Mercury</a>.  
            </p>
            </p>
          </div>--> 
        </div>
    </div>

    <div class="container-fluid py-5" style="background: #999;">
        <div class="container pt-4 pb-4">
            <div class=" row z-index-1">
                <div class="col-md-12 col-sm-12 mb-3 mt-3">
                    <h3 class="mb-3 mt-3" style="color: #fff;">Video title placeholder</h3>
                    <p class="mb-3 mt-3" style="color: #fff;">Placeholder text</p> 
                    <div class="row mt-3 w-100">
                       <div class="col-md-12">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://bcove.video/2GKu660" oldsrcsrc="https://embed.wirewax.com/8137546/" allowfullscreen=""></iframe>
                            </div>
                       </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>       

    <div class="container-fluid py-5" style="background: #fff;">
        <div class="container pt-4 pb-4">
            <div class=" row z-index-1">
                <div class="col-md-12 col-sm-12 mb-3 mt-3">
                    <h3 class="mb-3 mt-3" style="color: #000;">The big switch FAQs</h3>
                    
                   <div class="panel-group" id="collapse-panel02">

                         <div class="panel panel-primary">

                                 <div class="panel-heading">
                                     <h6 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse2" class="collapsed" aria-expanded="false">
                                            What happens during the Big Switch to Mercury?
                                         </a>
                                     </h6>
                                 </div>
                                 <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
                                     <div class="panel-body" >
                                         <p>During the Big Switch to Mercury, process data from current systems is captured and loaded into the new system. 
                                             For this to happen, there may need to be a system freeze or blackout period. Depending on the amount of data, 
                                             it could take up to several days before data is completely loaded. During this time a manual procedure may be needed to 
                                             capture new data or account for changes to the data during blackout. </p>
                                     </div>
                                 </div>
                                 <div class="panel-heading">
                                     <h6 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse3" class="collapsed" aria-expanded="false">
                                            What is data conversion? 
                                         </a>
                                     </h6>
                                 </div>
                                 <div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
                                     <div class="panel-body" >
                                         <p>Data conversion is the process that includes the extraction of data from the current system and transforming and 
                                             loading it to the new Mercury system.</p>
                                     </div>
                                 </div>
                                 <div class="panel-heading">
                                     <h6 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#collapse-panel02"  data-target="#collapse4" class="collapsed" aria-expanded="false">
                                            Why are there multiple blackout dates?
                                         </a>
                                     </h6>
                                 </div>
                                 <div id="collapse4" class="panel-collapse collapse" aria-expanded="false">
                                     <div class="panel-body" >
                                         <p>Blackout dates are broken down into two types: a master data load component and a transactional load component. 
                                             Different types of data are impacted during these two periods and each will have different freeze/blackout activities associated with them. 
                                             Freeze/blackout activities and impacts will be communicated by to end users. </p>
                                     </div>
                                 </div>
                                 

                         </div>                          
                     </div>

               </div>
           </div>
       </div>
    </div>​