<style>
  #eymain .col-innerwrap {
    height: 100%;
    border: 1px solid #a6a3a3;
    padding-top: 10px;
  }

  #eymain .row-sections-media {
    color: rgb(212, 212, 212);
    margin-bottom: 15px;
  }

  #eymain .row-sections-media .media img {
    max-width: 80px;
  }

  #eymain .info-v6-2 {
    background: #494848;
    min-height: 150px;
  }

  #eymain .info-v6-2 p {
    color: #fff;
  }

  #eymain .media-body {
    flex: none;
  }

  #eymain .rwd-media {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
  }

  #eymain .rwd-media iframe,
  #eymain .rwd-media video {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #eymain .text-above-table h2 {
    padding-bottom: 15px;
    border-bottom: 5px solid #ffe600;
  }

  #eymain .italic {
    font-style: italic;
  }

  #eymain .bold-text {
    font-weight: bold;
  }

  #eymain .my-table {
    background-color: white;
  }

  #eymain .table-bordered,
  #eymain .table-bordered th,
  #eymain .table-bordered td {
    border: 1px solid #404040;
  }

  #eymain .my-table thead {
    background-color: #ffe600;
  }

  #eymain .my-table thead th {
    vertical-align: top;
    border-bottom: 2px solid #404040;
  }

  #eymain .star-table {
    font-size: 12px;
  }

  #eymain .text-above-table h2 {
    padding-bottom: 15px;
    border-bottom: 5px solid #ffe600;
  }
</style>
<section
  class="hero__section"
  style="background-image: url(urlSite/SiteAssets/v2/assets/img/myLearningJourney-banner.jpg);margin-top: -70px;"
>
  <div class="container-fluid h-100" style="position: relative;">
    <div
      class="col-md-12"
      style="position: absolute;bottom: 20px;left:0px;    background-color: rgba(0, 0, 0, .5);"
    >
      <h2 style="color: #fff;padding: 5px;">Your learning guide</h2>
    </div>
  </div>
</section>

<div class="container-fluid mt-3 py-5" style="background: #fff;">
    <div class="container">
      <div class=" row z-index-1">
        <div class="col-md-12 col-sm-12 mb-3">
          <h5 class="mt-3" id="userDiv" ng-bind="currentUserFirstname" user-name></h5>
          <div class="row">
            <div class="col-md-12">
              <p>Your required learning for <b>Time and Expense</b> in Mercury is now available. Please watch the modular video below to understand how to record and submit your time and create and submit expense claims in Mercury.  </p>
              <p>Please watch this video <b>before 7 October</b>, which is when Mercury opens for early time entry. Learning completion is being tracked and monitored, so be sure to complete this fundamental part of your Mercury learning.  </p>
              <p>If you wish to complete this learning on SuccessFactors, please refer to the instructions at the bottom of this page.</p>
                <h4>For UKI and FS:</h4>
                <div class="row z-index-1">
                    <div class="col-12">
                      <div class="rwd-media">
                        <iframe
                          class="wirewax-iframe"
                          src="https://embed.wirewax.com/8156299"
                          width="448"
                          height="252"
                          frameborder="0"
                          webkitAllowFullScreen
                          mozallowfullscreen
                          allowFullScreen
                        ></iframe>
                      </div>
                    </div>
                  </div>
                  <br>
                <h4>For Republic of Ireland:</h4>
                <div class="row z-index-1">
                    <div class="col-12">
                      <div class="rwd-media">
                        <iframe
                          class="wirewax-iframe"
                          src="https://embed.wirewax.com/8155860"
                          width="448"
                          height="252"
                          frameborder="0"
                          webkitAllowFullScreen
                          mozallowfullscreen
                          allowFullScreen
                        ></iframe>
                      </div>
                    </div>
                  </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid py-5" style="background: #404040;;">
  <div class="container pt-4 pb-4">
    <div class="row z-index-1">
      <div class="col-md-12 col-sm-12 mb-3 mt-3">
          <div style="color: #fff">
          <p>
              As we prepare for go-live, we all need to understand what this means for our ways-of-working. 
              There will be a significant change to the way we
              think about and manage our client engagements. As a Client Server,
              you will be responsible for running and managing your
              opportunities and engagements in Mercury. Therefore, it is
              fundamental you complete your relevant learning to better
              understand how this impacts you.
            </p>
            <p>
              Web Based Learning (WBL) modules are critical to your learning as
              these will explain the fundamentals of what’s changing with
              Mercury. In addition to WBLs, we are providing classroom-based
              learning for those of you who have been specifically nominated to
              participate by your Service Lines.
            </p>
          
            <p>
              Below you will see an overview of the different components of the
              Better Engagements and Mercury learning programme.
              
                In addition to the information below, based upon your role, you
                may receive targeted e-mails about specific courses you are
                required to undertake.
              You should expect these e-mails from June 2019 onwards.

              <br />
              <br />
              Please
              <a href="mailto:mercurytraining@uk.ey.com?cc=betterengagements@uk.ey.com&amp;subject=Better%20Engagements%20Portal%20Training%20Query">contact us</a>
              if you’re not a Client Server.
            </p>

            <p class="italic">
              Better Engagements, run by you, powered by Mercury.
            </p>
          </div>
        <table class="table table-bordered my-table mt-2">
          <thead>
            <tr>
              <th scope="col" class="bold-text">Learning Component Overview</th>
              <th scope="col" class="bold-text">
                Accessing Learning Component
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>
                  <span class="bold-text">A series of WBLs</span> to introduce
                  you to key concepts and new ways of working in Mercury.
                </p>
              </td>
              <td>
                <ul>
                  <li><span class="bold-text">All WBLs are recommended before go-live on 14 October.</span></li>
                  <li>This includes the Time and Expense Management in Mercury video, which must be completed week commencing 7 October when early time entry opens in Mercury.</li>
                  <li>For specific WBLs required for those attending a one-day, instructor-led learning event (ILT) please see the box below.</li>
                  
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  A
                  <span class="bold-text">one-day, instructor-led learning event,</span>
                  which will run from late August until early October.
                </p>
                <p>
                  This session will provide 'hands-on-keys' training with the
                  Mercury solution.
                </p>
              </td>
              <td>
                <ul>
                  
                  <li>
                    You are required to complete the following two WBLs <span class="bold-text">before you attend ILT</span>:
                    <ul>
                      <li>Fundamentals of Mercury</li>
                      <li>The Essentials of Managing Engagement Economics</li>
                    </ul> 
                  <br></li>
                  <li>
                    You are required to complete the following four WBLs <span class="bold-text">before 14 October</span>:
                    <ul>
                      <li>
                        The Essentials of Contact Management
                      </li>
                      <li>
                        The Essentials of Account Management and Opportunity Management
                      </li>
                      <li>
                        The Essentials of Engagement Maintenance
                      </li>
                      <li>The Essentials of Opportunity Pricing and Engagement Budgeting
                      </li>
                    </ul>  
                  </li>
                  <br><li>
                    The following WBLs are recommended:
                    <ul>
                      <li>The Essentials of Billing</li>
                      <li>The Essentials of Reporting</li>
                      <li>The Essentials of Working Capital</li>
                      
                    </ul>
                  </li>
                  <br><li>
                    For UK&I, please refer to <a href="urlSite/SiteAssets/docs/Mercury%20Concepts%20-%20Training%20Handouts.pdf" target="_blank">this document</a> to access the handouts you received in class. This document offers a high-level overview of important Mercury concepts and will serve as a useful resource for all Client Servers when Mercury goes live. 
                  </li>
                  <br><li>For FSO, please refer to the following documents. Each link provides <strong>Concept</strong> information and <strong>Process (Quick Reference Guides)</strong> for your reference:
                      <ul>
                          <li><a href="urlSite/ILT_CS/Introduction%20to%20Mercury.pdf">Introduction to Mercury for Client Servers (<i>Please read me first!</i>)</a></li>
                          <li><a href="urlSite/ILT_CS/Account%20Management%20in%20Mercury.pdf">Account Management in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Contact%20Management%20in%20Mercury.pdf">Contact Management in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Opportunity%20Management%20in%20Mercury.pdf">Opportunity Management in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Opportunity%20Pricing%20in%20Mercury.pdf">Opportunity Pricing in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/PACE%20in%20Mercury.pdf">PACE in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Setting%20Up%20an%20Engagement%20in%20Mercury.pdf">Setting up an Engagement in Mercury </a></li>
                          <li><a href="urlSite/ILT_CS/Budgeting%20in%20Mercury.pdf">Budgeting in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Engagement%20Economics%20in%20Mercury.pdf">Engagement Economics in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Closing%20an%20Engagement%20in%20Mercury.pdf">Closing an Engagement in Mercury</a></li>
                          <li><a href="urlSite/ILT_CS/Billing%20in%20Mercury.pdf">Billing in Mercury</a></li>
                      </ul>
                  </li>
                </ul>
              </td>
            </tr>
            
            <tr>
              <td>
                <p>Resources and additional support to assist you after go-live.</p>
              </td>
              <td>
                <ul>
                  <li>This will be available from 14 October.</li>
                  
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 pb-4">
  <div class="row">
    <div class="col-12">
      <div class="text-above-table">
        <h2>WBLs for Client Servers</h2>
        <p>How to complete your Mercury WBLs:</p>
        <ol>
          <li>
            Click <a href="https://sf.ey.net/">here </a>to get re-directed to
            SuccessFactors
          </li>
          <li>Click on 'My Learning' tab</li>
          <li>
            Copy and paste the WBL code you would like to complete in the ‘Find
            Learning’ search function
          </li>
          <li>Click on ‘Go’</li>
        </ol>
        <!--<p>All WBLs are recommended. However, if you are specifically invited to classroom-learning, you are required to complete all WBLs and you must prioritise completing 
          The Fundamentals of Mercury and The Essentials of Managing Engagement Economics before you attend your classroom-learning. </p>-->
      </div>
      <table class="table table-striped my-table mt-2">
        <thead>
          <tr>
            <th scope="col" class="bold-text">Mercury WBL Title</th>
            <th scope="col" class="bold-text">
              Copy and paste code into SuccessFactors
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Time and Expense Management in Mercury (UK&I)</td>
                <td class="bold-text">HRC5101722</td>
                
                
              </tr>
            <tr>
                <td>Time and Expense Management in Mercury (ROI)</td>
                <td class="bold-text">HRC5101685</td>
                
                
              </tr>
          <tr>
            <td>Fundamentals of Mercury</td>
            <td class="bold-text"><strong>GLOBALALLHRC4056399</strong></td>
          </tr>
          <tr>
            <td>The Essentials of Contact Management</td>
            <td class="bold-text"><strong>GLOBALALLHRC4056459</strong></td>
          </tr>
          <tr>
            <td>The Essentials of Account Management and Opportunity Management</td>
            <td class="bold-text"><strong>GLOBALALLHRC4056478</strong></td>
          </tr>
          <tr>
            <td>The Essentials of Engagement Maintenance</td>
            <td class="bold-text"><strong>GLOBALALLHRC4056494</strong></td>
          </tr>
          <tr>
            <td>The Essentials of Opportunity Pricing and Engagement Budgeting</td>
            <td class="bold-text"><strong>GLOBALALLHRC4118280</strong></td>
          </tr>
          <tr>
            <td>The Essentials of Managing Engagement Economics</td>
            <td class="bold-text"><strong>GLOBALALLHRC4086313</strong></td>
          </tr>
          <tr>
            <td>The Essentials of Billing</td>
            <td class="bold-text">GLOBALALLHRC4574559</td>
           
            
          </tr>
          <tr>
            <td>The Essentials of Reporting</td>
            <td class="bold-text">GLOBALALLHRC4483673</td>
            
            
          </tr>
          <tr>
            <td>The Essentials of Working Capital</td>
            <td class="bold-text">UKICBSHRC4765399</td>
            
          </tr>
          
          
        </tbody>
      </table>
    </div>
  </div>
</div>