<div class="mkp__level2" ng-controller="engagementSingleCtrl" personalisation-bar accordion-toggle>
	<ul class="mkp__breadcrumb">
		<li><a href="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SitePages/index.aspx/home">ENGAGEMENT LIFECYCLE</a> </li>
		<li><i class="fa fa-chevron-right"></i> <strong>{{titleTitle}}</strong></li>
	</ul>
	<section class="mkp__level2-section-intro">
		<h1 class="mkp__icon-header"><img src="{{tileImage}}" alt="#">Engagement Lifecycle: <strong>{{titleTitle}}</strong></h1>

		<p>An Opportunity is defined by the widest contract agreed upon with a client or prospect. Wherever it is the client's expectation that EY behaves and communicates as 'One Team', regardless of SL/SSL and geography, we should place all the work under a single Opportunity.</p>

		<p>An Opportunity is always required to start a risk assessment or to create an Engagement in Mercury.</p>
	</section>

	<section class="mkp__level2-section-content">
		<h2 class="mkp__icon-header"><img src="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SiteAssets/mercury-knowledge-portal-site/assets/img/svg/contents-page/list-of-contents-icon.svg" alt="#">List of contents</h2>
		<div class="mkp__master-accordion-switch"><a href="#" onclick="toggleAllAccordions(this)" data-open="false">Open all</a></div>

		<div class="mkp__accordion">
			<h3 title="hide or show list" XXng-click="accordionToggle" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false">Create an external opportunity</h3>
			<a href="#" class="mkp__accordion-switch" XXng-click="accordionToggle" title="hide or show list" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false"><i class="fa fa-chevron-down"></i></a>
			<ul class="mkp__triangle-bullet-points mkp__hidden-accordion-content">
				<li>How to guide: <a href="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SitePages/index.aspx/engagement-lifecycle/{{tileTitle}}/how-to-{howToTitle}">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SitePages/index.aspx/engagement-lifecycle/{{tileTitle}}/how-to-{howToTitle}">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SitePages/index.aspx/engagement-lifecycle/{{tileTitle}}/how-to-{howToTitle}">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
			</ul>
		</div>
		<div class="mkp__accordion">
			<h3 title="hide or show list" XXng-click="accordionToggle" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false">Create an internal advice opportunity</h3>
			<a href="#" class="mkp__accordion-switch"  XXng-click="accordionToggle" title="hide or show list" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false"><i class="fa fa-chevron-down"></i></a>
			<ul class="mkp__triangle-bullet-points mkp__hidden-accordion-content">
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
			</ul>
		</div>
		<div class="mkp__accordion">
			<h3 title="hide or show list" XXng-click="accordion-toggle" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false">Set confidentiality of an opportunity</h3>
			<a href="#" class="mkp__accordion-switch" XXng-click="accordion-toggle" title="hide or show list" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false"><i class="fa fa-chevron-down"></i></a>
			<ul class="mkp__triangle-bullet-points mkp__hidden-accordion-content">
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
			</ul>
		</div>
		<div class="mkp__accordion">
			<h3 title="hide or show list" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false">Leveraging GDS</h3>
			<a href="#" class="mkp__accordion-switch" title="hide or show list" XXonclick="toggleAccordionViaAnyTag(this)" data-open="false"><i class="fa fa-chevron-down"></i></a>
			<ul class="mkp__triangle-bullet-points mkp__hidden-accordion-content">
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
				<li>How to guide: <a href="#">Lorem ipsum</a> <i class="fa fa-chevron-right"></i></li>
			</ul>
		</div>
	</section>

	<aside>
		<div class="mkp__list-wrapper">
			<h2 class="mkp__icon-header"><img src="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SiteAssets/mercury-knowledge-portal-site/assets/img/svg/contents-page/policy-icon.svg" alt="#">Policy</h2>
			<ol class="mkp__side-lists">
				<li><a href="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal//SitePages/index.aspx/engagement-lifecycle/{tileTitle}/policy-{policyName}">Policy item for SL &amp; BU</a></li>
				<li><a href="#">Policy item for SL &amp; BU</a></li>
				<li><a href="#">Policy item for SL &amp; BU</a></li>
				<li><a href="#">Policy item for SL &amp; BU</a></li>
			</ol>
		</div>

		<div class="mkp__list-wrapper">
			<h2 class="mkp__icon-header"><img src="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SiteAssets/mercury-knowledge-portal-site/assets/img/svg/contents-page/guidance-icon.svg" alt="#">Guidance</h2>
			<ol class="mkp__side-lists">
				<li><a href="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SitePages/index.aspx/engagement-lifecycle/{tileTitle}/guidance-{guidanceName}">Guidance item for SL &amp; BU</a></li>
				<li><a href="#">Guidance item for SL &amp; BU</a></li>
				<li><a href="#">Guidance item for SL &amp; BU</a></li>
				<li><a href="#">Guidance item for SL &amp; BU</a></li>
			</ol>
		</div>

		<div class="mkp__list-wrapper">
			<h2 class="mkp__icon-header"><img src="https://sites.ey.com/sites/csglondontest/test/Mercury-Knowledge-Portal/SiteAssets/mercury-knowledge-portal-site/assets/img/svg/contents-page/training-icon.svg" alt="#">Training</h2>
			<ol class="mkp__side-lists">
				<li><a href="#">Training item for SL &amp; BU</a></li>
				<li><a href="#">Training item for SL &amp; BU</a></li>
				<li><a href="#">Training item for SL &amp; BU</a></li>
				<li><a href="#">Training item for SL &amp; BU</a></li>
			</ol>
		</div>
	</aside>
</div>