<div class="be-new__home-main-container content-fluid" ng-controller="homeCtrl" ng-init="init()">
        <div class="be-new__home-header-row row">
              <div class="be-new__home-header-div col-8">
                  <div class="be-new__home-header-content-heading">
                      <h1>better engagements</h1>
                  </div>
                  <div class="be-new__home-dash-border"></div>
                  <div class="be-new__home-header-content">
                      <p class="be-new__home-content-para">Run by you, Powered by Mercury</p> 
                  </div>
              </div>
              <div class="be-new__home-header-content-image col-4">
                  <img class="img-fluid align-bottom" src="urlSite/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/title-bg.png" alt="mercury icon">
              </div>
        </div>
        <div class="be-new__home-intro-row row mt-3">
            <div class="be-new__home-intro-left col-12 col-md-8">
                <div class="mkp__list-wrapper be__new-homepage-wrapper">
                      <h1 class="be-new__home-header-1">
                              Welcome,  {{ currentUser.fullname }}
                          </h1>
                          <p class="be-new__home-intro-para">
                                Find a How To for most tasks in Mercury, here – see <span class="font-weight-bolder">Task Support</span>. We’ll show you related information, such as policy and guidance, alongside the instructions. Try <span class="font-weight-bolder">My Learning</span> for training, or find migration resources under <span class="font-weight-bolder">The Move to Mercury</span>.                       
                          </p>
                </div>
            </div>
            <div class="be-new__home-intro-right col-12 col-md-4">
              <div class="mkp__list-wrapper be-new__home-virtual-clinic">
                  <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="urlSite/SiteAssets/mercury-knowledge-portal-site/assets/img/svg/contents-page/training-icon.svg" alt=""> Better Engagements Virtual Training Schedule</h2>
                  <ul class="mkp__triangle-bullet-points">
                      <li><a href="urlSite/SitePages/index.aspx/blog/22/VirtualTraining">View latest timetable</a></li>
                  </ul>
              </div> 
            </div>   
        </div>
        <div class="be-new__home-middle-row row d-flex">
            <div class="be-new__home-middle-row-left-content col-12 col-md-4">
              <div class="be-new__home-big-switch mkp__list-wrapper">
                <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="urlSite/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/group-7.png" alt=""> The Move to Mercury</h2>  
                <ul class="mkp__triangle-bullet-points">
                    <li><a href="https://mercury.ey.net/" target="_blank">Access <span>Mercury</span></a></li>
                    <li><a href="urlSite/SitePages/index.aspx/actions-to-take">See <span>Actions to Take</span> this week</a></li>
                    <li><a href="urlSite/SitePages/index.aspx/blackout-templates">Find a Blackout template</a></li>
                    <li><a href="https://sites.ey.com/sites/M-PathGuidance/SitePages/M-Path%20Home.aspx" target="_blank">See how <span>M-Path</span> helps you work with Mercury</a></li>
                    <li><a href="urlSite/SitePages/index.aspx/blog/24/RoleOfFinance">Understand the new <span>Role of Finance</span></a></li>
                </ul>
              </div>
              <div class="be-new__home-my-learning mkp__list-wrapper">
                <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="urlSite/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/my-learning.png" alt=""> My Learning</h2>          
                <ul class="mkp__triangle-bullet-points">
                    <li><a href="urlSite/SitePages/index.aspx/blog/11/default" target="_blank">Find Web-Based Learning (<span>WBLs</span>)</a></li>
                    <li><a href="urlSite/SitePages/index.aspx/blog/22/VirtualTraining" target="_blank">Attend a Better Engagements <span>Virtual Training</span> session this week</a></li>
                    <li>Find out how to <a href="urlSite/SiteAssets/docs/Mercury%20Timesheet%20Application%20Download%20Instructions.pdf" target="_blank">install</a> and <a href="https://sites.ey.com/sites/csglondontest/test-be-portal/BE-Live-Dev/SiteAssets/docs/Mercury%20Timesheet%20Application%20Procedural%20Guide.pdf" target="_blank">use</a> Timesheets via Mobile</li>
                    <li><a href="urlSite/SiteAssets/docs/Little_Book_Better_Engagements_FINAL.pdf" target="_blank">Download the <span>Little Book</span> of Better Engagements</li>
                    <li><a href="urlSite/SiteAssets/docs/Better_Engagements_Glossary.pdf" target="_blank">Check a term in our <span>Glossary</span></a></li>
                </ul>
              </div>  
            </div>
            <div class="be-new__home-middle-row-right-content col-12 col-md-8">
              <div class="mkp__list-wrapper be__new-homepage-wrapper">
                <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="urlSite/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/group-6-copy.png" alt=""> How to - Mercury Tasks</h2>
                <p class="be-new__home-para">To find quick step-by-step How To Guides for most tasks in Mercury, click on the image below, or select the <a href="urlSite/SitePages/index.aspx/task-support">Task Support</a> tab from the menu above</p>
                <br>
                <a href="urlSite/SitePages/index.aspx/task-support"><img src="urlSite/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/BE-Landing-Page-Tiles.png" alt="" class="img-fluid be-new_home-task-img"></a> 
                <br>
                <br>
                <br>
                <br>          
            </div>  
            </div>
        </div>
        <!-- <div class="be-new__home-blog-row row">
              <div class="be-new__home-blog-content col-12 col-md-4">
                  <div class="mkp__list-wrapper be__blog-wrapper">
                      <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/BE-Live-Dev/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/group-9-1.png" alt=""> …As is blog element…</h2>
                      <ul class="mkp__triangle-bullet-points ">
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                      </ul>
                  </div>
              </div>
              <div class="be-new__home-blog-content col-12 col-md-4">
                  <div class="mkp__list-wrapper be__blog-wrapper">
                      <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/BE-Live-Dev/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/group-9-1.png" alt=""> …As is blog element…</h2>
                      <ul class="mkp__triangle-bullet-points ">
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                      </ul>
                  </div>
              </div>
              <div class="be-new__home-blog-content col-12 col-md-4">
                  <div class="mkp__list-wrapper be__blog-wrapper">
                      <h2 class="mkp__icon-header"><img class="be-new__home-icon" src="https://sites.ey.com/sites/csglondontest/test-be-portal/BE-Live-Dev/SiteAssets/mercury-knowledge-portal-site/assets/img/homepage/group-9-1.png" alt=""> …As is blog element…</h2>
                      <ul class="mkp__triangle-bullet-points ">
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                              <li><a href="#">Lorem ipsum dolor sit amet consectetur</a></li>
                      </ul>
                  </div>
              </div>    
        </div> -->
    </div>    
