<div id ="eymain" ng-controller="homeCtrl">
    <div class="be__home-cont">
        <div id="carouselContainer" class="carousel slide" data-ride="carousel" data-interval="1500">
            <div class="carousel-inner ">

                <div class="carousel-item active">
                    <section class="hero__section " style="background-image: url(urlSite/SiteAssets/v5/assets/img/AugustHome.jpg); ">
                        <div class="container-fluid h-100">
                            <div class=" row text-center z-index-1 h-100 align-items-center">
                                <div class="col-md-7 col-sm-12"></div>
                                <div class="bannerHeaderDiv col-md-5 col-sm-12 px-4 py-3">
                                    <h2 class="text-left mb-3">Welcome {{ dataObj.title }},</h2>
                                    <p class="text-left text-justify te fontsize115rem" ng-bind-html="renderHtml(communitymessage)"></p>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
        <div class="container-fluid py-3 " style="background:#999999;">
            <div class="containers">
                <div class=" row z-index-1">
                    <div class="col-md-3 col-sm-12">
                        <div class=" pb-3 h-100 home__block" style="border: 1px solid #333333;">   
                            <a href="urlSite/SitePages/Test-Index.aspx#!/blog/1/1">          
                                <figure class="u-block-hover">
                                    <!-- Figure Image -->
                                    <img class="w-100" src="urlSite/SiteAssets/v2/assets/img/BE-Tile1.png" alt="Image Description" />
                                </figure>
                                <div class="p-1">
                                    <h5 style="color: #ffe600">What is Better Engagements?</h5>
                                </div>
                                <div class="p-1">
                                    <p class="text-white font-size1rem ">
                                        Better Engagements is the UK and Ireland's transformation programme that will change the way we manage our client engagements – unlocking benefits for our people, our business and our clients. Find out how.
                                    </p>
                                </div>
                            </a>
                            <p class="text-white font-size1rem ">The <a href="urlSite/SiteAssets/docs/Little_Book_Better_Engagements_FINAL.pdf"><span class="quicklink">Little Book of Better Engagements</span></a> is a useful guide for those who want to know more about Mercury, our global, integrated business solution. It is designed to act as a reminder about Better Engagements, the Value Opportunities and the key steps to using Mercury.</p>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class=" pb-3 h-100 home__block" style="border: 1px solid #333333;">
                            <a href="urlSite/SitePages/Test-Index.aspx#!/blog/2/1">
                                <figure class="u-block-hover">
                                    <!-- Figure Image -->
                                    <img class="w-100" src="urlSite/SiteAssets/v2/assets/img/tilenew1.jpg" alt="Image Description" />
                                </figure>
                                <div class="p-1">
                                    <h5 style="color: #ffe600">What is Mercury?</h5>
                                </div>
                                <div class="p-1">
                                    <p class="text-white font-size1rem ">
                                        EY’s global integrated business technology solution – Mercury – will be implemented on 14 October 2019 in the UK and Ireland, replacing a number of our current systems.
                                    </p>
                                </div>
                            </a>
                            <div class="p-1  p-2">
                                <h5 style="color: #ffe600">What is changing with Better Engagements and Mercury? </h5>
                            </div>
                            <div class="p-1  px-2">
                                <p class="text-white font-size1rem ">
                                   <ul>
                                       <li><a href="urlSite/SitePages/Test-Index.aspx#!/blog/6/1" target="_blank" class="quicklink"> Opportunity and Engagement Lifecycle and new ways of working</a></li>
                                       <li><a href="urlSite/SitePages/Test-Index.aspx#!/blog/7/April" target="_blank" class="quicklink">Contact Management and Opportunity Creation</a></li>
                                       <li><a href="urlSite/SitePages/Test-Index.aspx#!/blog/8/May" target="_blank" class="quicklink">Pricing </a></li>
                                       <li><a href="urlSite/SitePages/Test-Index.aspx#!/blog/9/June" target="_blank" class="quicklink">Budgeting, Engagement Economics and Maintenance</a></li>
                                       <li><a href="urlSite/SitePages/Test-Index.aspx#!/blog/18/July" target="_blank" class="quicklink">Billing and Reporting</a></li>
                                     
                                   </ul>
                                </p>
                            </div>
                                
                                <!-- End Figure Image-->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class=" pb-3 h-100 home__block" style="border: 1px solid #333333;">
                            <a href="urlSite/SitePages/Test-Index.aspx#!/blog/3/1">
                                <figure class="u-block-hover">
                                    <!-- Figure Image -->
                                    <img class="w-100" src="urlSite/SiteAssets/v2/assets/img/tilenew2.jpg" alt="Image Description" />
                                </figure>
                                <div class="p-1">
                                    <h5 style="color: #ffe600">Preparing for Mercury</h5>
                                </div>
                                <div class="p-1">
                                    <p class="text-white font-size1rem ">
                                        Learn how you can embrace Better Engagements today and begin
                                        preparing for Mercury.
                                    </p>
                                </div>
                            </a>
                            <a href="urlSite/SitePages/Test-Index.aspx#!/blog/4/1">
                                <div class="p-1 black p-2">
                                    <h5 class="text-white">Data preparation</h5>
                                </div>
                                <div class="p-1 black px-2">
                                    <p class="text-white font-size1rem ">
                                       Is your data ready for migration? Learn what you need to do to prepare for Mercury.
                                    </p>
                                </div>
                            </a>
                            <!-- End Figure Image-->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class=" pb-3 h-100 h-100 home__block" style="border: 1px solid #333333;">
                            <figure class="u-block-hover">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://bcove.video/2T2Pah3" allowfullscreen=""></iframe>
                                </div>
                            </figure>
                            <div class="p-1" style="background:#999999;">
                                <h5 class="text-white text-center mb-4">
                                    <!-- <span style="color: #f4d200;">4 months </span>to --> Mercury go-live in
                                </h5>
                                <div id="clockdiv" class="row mb-2" style="padding-left: 15px;">
                                    <div>
                                        <span class="days"></span>
                                        <div class="smalltext">Days</div>
                                    </div>
                                    <div>
                                        <span class="hours"></span>
                                        <div class="smalltext">Hours</div>
                                    </div>
                                    <div>
                                        <span class="minutes"></span>
                                        <div class="smalltext">Minutes</div>
                                    </div>
                                    <div>
                                        <span class="seconds"></span>
                                        <div class="smalltext">Seconds</div>
                                    </div>
                                </div>
                            </div>
                            <div id="clockdivs" class="col-md-12">

                            </div>
                            <div class="p-1" style="background: #999999;">
                                <h5 class="text-white">Quick links</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <ul class="list-unstyled">
                                        <li style="color:#fff;margin-top: 10px;">
                                            <a href="https://sites.ey.com/sites/moving2mercury/SitePages/Community%20Home.aspx" target="_blank" class="quicklink">Moving to Mercury (Global)</a>
                                            - To learn more about the impact of the Global Mercury
                                            deployment on the UK and Ireland.
                                        </li>
                                        <li style="color:#fff;margin-top: 10px;">
                                            <a href="https://sites.ey.com/sites/MercuryforExecutive/SitePages/Mercury Home.aspx" target="_blank" class="quicklink">Global Exec SharePoint site</a>
                                            - Visit this site if you are part of the Executive or Global Services.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- End Figure Image-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



