<style type="text/css">
    #eymain .hero__section {

        height: calc(100vh - 75.2px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* margin-top: -70px;*/
    }

    #eyamin .z-index-1 {
        z-index: 1;
    }

    #eymain .ey-flex-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #eymain .ey-right__border {
        border-right: 2px solid #ffe600;
    }

    .g-min-height-80vh {
        min-height: 80vh;
    }

    .g-bg-black-opacity-0_9 {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }

    .g-min-height-400 {
        min-height: 250px;
    }

    .g-bg-img-hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #eymain .readmore--btn {
        color: #fff;
        border-radius: 0px;
        border: 1px solid;
    }

    [class*="u-block-hover"],
    [class*="u-block-hover"]::before,
    [class*="u-block-hover"]::after {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    [class*="u-block-hover"] {
        position: relative;
        max-width: 100%;
        margin: 0;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    #eymain #carouselContainer {
        margin-top: -70px;
    }

    #eymain .carousel-control-prev {
        left: -75px;
    }

    #eymain .carousel-control-next {
        right: -75px;
    }

    #eymain .carousel-indicators li {
        position: relative;
        flex: 0 1 auto;
        width: 30px;
        height: 5px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #eymain .carousel-indicators .active {
        background-color: #ffd200;
    }

    #eymain .carousel-indicators {
        bottom: 0;
    }

    #eymain .carousel-captions {
        position: absolute;
        /* right: 15%; */
        bottom: 40px;
        left: 0px;
        /* left: 15%; */
        /* z-index: 10;*/
        /*padding-top: 20px;
    padding-bottom: 20px;*/
        color: #000;
        /* text-align: center; */
        width: 100%;
        /* padding-left: 15%; */
        /* padding-right: 15%; */
        background: #ffd200;
    }

    #eymain .carousel-captions p {
        font-size: 1rem;
    }

    /* #eymain .hero__section {
    background-image: url(urlSite/SiteAssets/v2/assets/img/hero.jpg);
    height: calc(80vh - 75.2px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -70px;
}*/
    #eymain .font-size1rem {
        font-size: 1rem;
    }

    #eymain .home__block {
        background: #333333;
        padding: 20px 20px 10px;
    }

    #eymain .home__block figure {
        padding: 0px;
    }

    #eymain .color__black {
        color: #000;
    }

    #eymain .quicklink {
        color: #ffd200;
        font-size: 1rem;
    }

    .pattern-image:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        content: "";
        opacity: .2;
        background: #000;
    }

    #eymain .z-index-99 {
        z-index: 999;
    }

    #eymain .no-border-radious {
        border-radius: 0;
    }
    #eymain .block-hover img{
        max-width: 130px;
    }
    #eymain .info-v6-1{
        background: #f0f0f0;
        min-height: 350px;
    }
    #eymain .info-v6-2{
        background: #f0f0f0;
        min-height: 150px;
    }
</style>


<div id="eymain" ng-controller="singleBlogCtrl" style="background: #fff;">

    <!--<div class="currentUserFirstname">
        <h5 class="my-3">Welcome {{currentUserFirstname}},</h5>
    </div>-->
    <div class="mt-5" ng-bind-html="blogContent" style="margin-top: 0px !important"></div>       

</div>
