
/* Variables definitions
   ========================================================================== */

	$black: #000000;
	$white: #FFFFFF;
	$eyOffBlack: #2E2E38;
	$eyOffWhite: #F6F6FA;
	$eyGrayDark: #747480;
	$eyGrayLight: #C4C4CD;
	$eyYellow: #FFE600;

	$eyPrimaryBlue: #71c6d0;
	$eyPrimaryGreen: #67be9c;
	$eyPrimaryPurple: #a182ba;

	$dash-background: #2E2E38;
	$dash-background-dark: #1C1C22;
	$dash-background-medium: #26262E;

	$dash-font-grey: #94979D;
	$dash-font-grey-lite: #707070;
	$dash-font-grey-medium: #8A8A94;

	$mkpOffBlack: #343434;
	$mkpOffYellow:#FBD01E;
	$mkpGrayLight: #d8d8d8;
